In [5]:
import pandas as pd

In [124]:
df = pd.read_csv('train (1).csv')

In [7]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [125]:
df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [11]:
df.isna().sum().sum()

0

In [20]:
df = df.drop('datetime' , axis =1)

In [21]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [35]:
df = df.drop(['casual' , 'registered'],axis = 1)

In [36]:
X = df.iloc[:,:-1]
Y = df.iloc[:, -1]

In [22]:
from sklearn.model_selection import train_test_split

In [24]:
from sklearn.linear_model import LinearRegression

In [37]:
X_train , X_test , y_train , y_test = train_test_split(X , Y, test_size = 0.2 random_state = 2)

In [38]:
X_train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
374,1,1,0,2,7.38,8.335,43,16.9979
10649,4,0,1,2,15.58,19.695,94,7.0015
3880,3,0,1,1,29.52,33.335,51,11.0014
3372,3,0,1,1,32.80,36.365,43,15.0013
6338,1,0,1,1,17.22,21.210,94,8.9981
...,...,...,...,...,...,...,...,...
1099,1,0,1,3,16.40,20.455,0,11.0014
2514,2,0,0,3,27.88,31.820,83,19.0012
6637,1,0,1,1,24.60,31.060,49,11.0014
2575,2,0,1,1,19.68,23.485,67,19.0012
7336,2,0,0,1,24.60,28.030,83,0.0000

In [46]:
y_train

374        8
10649      4
3880     590
3372     113
6338     594
        ...
1099      17
2514     350
6637     351
2575      21
7336     107
Name: count, Length: 8164, dtype: int64

In [135]:
lin = LinearRegression()

In [126]:
lin.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [95]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [127]:
y_pred = lin_reg.predict(X_test)

In [128]:
mse = mean_squared_error(y_test, y_pred) ** 0.5

In [70]:
df['count'].describe()

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64

In [134]:
from xgboost import XGBRegressor
start = time.time()
xg = XGBRegressor()
xg.fit(X_train,y_train)
y_pred = xg.predict(X_test)
mse2 = mean_squared_error(y_test,y_pred) ** 0.5
print(mse2)
end =time.time()
print(end - start)

148.25368448768566
0.23041176795959473

In [53]:
from sklearn.tree import DecisionTreeRegressor

In [136]:
regressor = DecisionTreeRegressor()

In [137]:
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [79]:
y_pred = regressor.predict(X_test)

In [80]:
mse3 = mean_squared_error(y_test,y_pred) ** 0.5

In [81]:
mse3

194.55359128536074

In [130]:
from sklearn.ensemble import GradientBoostingRegressor
start = time.time()
gb = GradientBoostingRegressor()
gb.fit(X_train, y_train)
y_pred = gb.predict(X_test)
mse4 = mean_squared_error(y_test, y_pred) ** 0.5
end = time.time()
print(end - start)

0.340409517288208

In [131]:
print(mse4)

146.89622701073048